<% flash.each do |type, message| %>
  <div class="<%= type == 'notice' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %> p-4 rounded-md mb-4" role="alert">
    <p class="text-sm"><%= message %></p>
  </div>
<% end %>
