<% if flash.any? %>
  <%# Primary method: JSON data in script tag for new NotificationService %>
  <script type="application/json" id="rails-flash-messages">
    <%= raw [
      flash.map do |type, message|
        {
          message: message,
          type: case type.to_s
                when 'notice' then 'success'
                when 'alert' then 'warning'  
                when 'info' then 'info'
                else 'error'
                end
        }
      end
    ].flatten.to_json %>
  </script>

  <%# Fallback: Render HTML elements for accessibility and testing %>
  <%# These will be hidden by CSS but provide semantic structure %>
  <div class="sr-only" aria-live="polite">
    <% flash.each do |type, message| %>
      <div role="alert" class="flash-message flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
