default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: mat_vulcan_development
  # Sequence ranges ensure IDs don't collide between environments
  # This helps prevent bugs when redirecting to application IDs
  sequence_ranges:
    applications: [1, 999999]

test:
  <<: *default
  database: mat_vulcan_test
  # Test environment should use its own range too
  sequence_ranges:
    applications: [5000000, 5999999]

# Production has higher ID ranges to avoid collisions
production:
  <<: *default
  database: mat_vulcan_production
  username: <%= ENV["MAT_VULCAN_DATABASE_USERNAME"] %>
  password: <%= ENV["MAT_VULCAN_DATABASE_PASSWORD"] %>
  host: <%= ENV["MAT_VULCAN_DATABASE_HOST"] %>
  port: <%= ENV["MAT_VULCAN_DATABASE_PORT"] %>
  sequence_ranges:
    applications: [1000000, 1999999]

# Staging should have its own range
staging:
  <<: *default
  database: mat_vulcan_staging
  username: <%= ENV["MAT_VULCAN_DATABASE_USERNAME"] %>
  password: <%= ENV["MAT_VULCAN_DATABASE_PASSWORD"] %>
  host: <%= ENV["MAT_VULCAN_DATABASE_HOST"] %>
  port: <%= ENV["MAT_VULCAN_DATABASE_PORT"] %>
  sequence_ranges:
    applications: [2000000, 2999999]
