<!-- Letter to inform the constituent that their proof documentation has been approved -->

<p>Thank you for submitting your application to the Maryland Accessible Telecommunications program. We appreciate your interest in our services and look forward to assisting you.</p>

<div style="border-left: 4px solid #38a169; padding-left: 1rem; margin: 1.5rem 0;">
  <h3 style="color: #276749; margin-top: 0;">Documentation Approved</h3>
  
  <div>
    <p>We have reviewed and <strong>approved</strong> your <%= @proof_type.to_s.titleize %> documentation.</p>
    <% if @all_proofs_approved %>
      <p>Great news! All your required documentation has been approved. We will now proceed with requesting certification from your healthcare provider.</p>
    <% end %>
  </div>
</div>

<h3>What's Next:</h3>
<p>Our team will continue to process your application and will contact you if any additional information is needed. You can also check the status of your application by logging into your account at mdmat.org or contacting our customer service team.</p>
